<%- include('./parts/head') %>
<%- include('./parts/head-end') %>
<%- include('./parts/body') %>
<%- include('./parts/navigation') %>

<h1>500 Error.</h1>
<p>We're working on fixing this issue. Please try again later.</p>

<details>
    <%= error %>
</details>

<%- include('./parts/body-end') %>