<%- include('./../parts/head') %>
<%- include('./../parts/head-end') %>
<%- include('./../parts/body') %>
<%- include('./../parts/navigation') %>
<main>
    <% if(products.length > 0) { %>
        <ul class="cart">
            <% products.forEach(p => { %>
                <li class="cart-product">
                    <h1><%= p.title %></h1>
                    <h2>Quantity: <%= p.quantity %></h2>
                    <button class="btn">
                        <a href="/cart-delete-item/<%= p.id %>">
                            Delete
                        </a>
                    </button>
                </li>
            <% }) %>
        </ul>

        <form action="/create-order" method="post">
            <button type="submit" class="btn">Order</button>
        </form>

    <% } else { %>
        <h1>No products</h1>
    <% } %>
</main>
<%- include('./../parts/body-end') %>