<%- include('./../parts/head') %>
<%- include('./../parts/head-end') %>
<%- include('./../parts/body') %>
<%- include('./../parts/navigation') %>
<main>
    <% if(orders.length > 0) { %>
        <ul class="cart">
            <% orders.forEach(order => { %>
                <li>
                    <h3>Order - # <%= order._id %></h3>
                    <ul>
                        <% if(order.items.length > 0) { %>
                            <% order.items.forEach(product => { %>
                                <li>
                                    <h4><%= product.title %> (<%= product.quantity %>)</h4>
                                    <form action="/order-delete-item" method="POST">
                                        <input type="hidden" name="productId" value="<%= product.id %>">
                                        <input type="hidden" name="orderId" value="<%= order._id %>">
                                        <button type="submit" class="btn">Remove</button>
                                    </form>
                                </li>
                            <% }) %>
                        <% } else { %>
                            <li>No products</li>
                        <% } %>
                    </ul>
                </li>
            <% }) %>
        </ul>

        <!--        <form action="/create-order" method="post">-->
        <!--            <button type="submit" class="btn">Order</button>-->
        <!--        </form>-->

    <% } else { %>
        <h1>No orders</h1>
    <% } %>
</main>
<%- include('./../parts/body-end') %>