<%- include('./../parts/head') %>
<%- include('./../parts/head-end') %>
<%- include('./../parts/body') %>
<%- include('./../parts/navigation') %>
<main>
    <h1>Nothing there</h1>
</main>
<%- include('./../parts/body-end') %>