<%- include('./../parts/head') %>
<%- include('./../parts/head-end') %>
<%- include('./../parts/body') %>
<%- include('./../parts/navigation') %>
<main class="center">
    <h1>
        <%= product.title %>
    </h1>
    <hr>
    <div>
        <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
    </div>
    <h2><%= product.price %></h2>
    <p><%= product.description %></p>
    <%- include('./../parts/add-to-cart', {product: product}) %>
</main>
<%- include('./../parts/body-end') %>