<nav aria-label="Product pages" class="d-flex justify-content-center mt-4">
    <ul class="pagination">
        <li class="page-item <%= currentPage <= 1 ? 'disabled' : '' %>">
            <a class="page-link" href="/?page=<%= currentPage - 1 %>">&laquo;</a>
        </li>
        <% for (let p = 1; p <= lastPage; p++) { %>
            <li class="page-item <%= p === currentPage ? 'active' : '' %>">
                <a class="page-link" href="/?page=<%= p %>"><%= p %></a>
            </li>
        <% } %>
        <li class="page-item <%= currentPage >= lastPage ? 'disabled' : '' %>">
            <a class="page-link" href="/?page=<%= currentPage + 1 %>">&raquo;</a>
        </li>
    </ul>
</nav>